
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
ont-family: 'Mulish', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 18px;
  }
  main {
   height: calc(100vh - 70px);
   display: flex;
   background-color: #f9f9f9;
 }
 /* Sidebar */ 
.side-bar {
    height: 100%;
    width: 25%;
    background-color: white;
    overflow-y: hidden;
  }
  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
  }
.left {
 display: flex;
 align-items: center;

}

.left #menu {
 padding: 0 7px;
 cursor: pointer;
}

.icons {
display: flex;
 flex-direction: row;
 justify-content: center;
  margin: 20px;

}
 
.mic {
  margin-top: 10px;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15rem;
    text-align: center;

  }

 .nav-link {
   display: flex;
   align-items: center;
   padding: 12px 25px;
   text-decoration: none;


 }

 
.nav-link span {
   margin-left: 40px;
   font-size: 1.2rem;
 }
 
.nav-link:hover {
   background: #FFE962;
   cursor: pointer;
 }

.active {
   background: #FFE962;
}



 .content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.text-main {
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.content {
line-height: 1.5;


}
.content img {
margin: 10px;
	float: left;
	

}
p {
	margin: 20px;
	font-size: 16pt;



}

 h1 {
 	text-align: center;
 	font-size: 30pt;
 }

 
 article {
 	text-align: center;
 	font-size: 15px;
 	background-color: #FFE962
 }



@media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .search {
      display: none;
    }
}
@media (max-width: 900px) {
    .search input {
      width: 25rem;
    }
  }











